<div class="background">
  <div class="background2"></div>
</div>
<div id="logoutBox" class="logoutBox">
  <div class="exit">
    <span class="text">Sei sicuro di voler uscire dalla pagina?</span>
      <div class="controls">
        <a class="button" (click)="confirmLogout()">Si</a>
        <a class="button" (click)="cancelLogout()">No</a>
      </div>
  </div>
</div>
<div class="window">
    <div class="header">
        <app-admin-header (logout)="showLogoutBox()"></app-admin-header>
    </div>
    <div class= "container">
      <div class="menu">
        <app-admin-menu></app-admin-menu>
      </div>
      <div class="data">
        <router-outlet></router-outlet>
      </div>
      <div class="contenitoreHome1">
        <h2>Analisi</h2>
        <div>
          <app-chartradar [chartDatasets]='provaDataset' [chartLabels]='provaLabels'></app-chartradar>
        </div>
      </div>
      <div class="contenitoreHome2">
          <h1>Welcome to Contraining world</h1> <br>
          <span>Welcome, yeah it's been a long minute 
              Let me break it down now if ya'll still with it
              First time I did it, yeah I'll admit it
              I kinda hit it and quit it and left ya'll hanging
              Sang it, kinda off key with a passion
              Asking, can I give you back that action?<br>
              <br>
              Yeah I'ma blast in a hashtag fashion
              To spell it out for you like a mass closed caption
              Get a closed casket, fade to black
              This is my spot that I'm taking backGet at me punk I was made for that
              Ya'll don't really even know what you aiming at
              So far back what you waving at?<br>
              <br>
              Ya'll can't see the stage that I'm playing at
              Ya'll hating that but that's why I do it</span>
      </div>
    </div>
</div>

