<div class="centeredContainer">
    <div class="defaultBox">
        <div class="title">
            <div class="angolo_sinistro"></div>
            <div class="content">
                IMPOSTAZIONI INIZIALI
            </div>
            <div class="angolo_destro"></div>
        </div>
        <div class="choices">
            <a class="choice single" [routerLink]="['/dashboard/map']">
                <div class="fill"></div>
                <div class="text">training</div>
            </a>
            <a class="choice multi" [routerLink]="['/dashboard/map']">
                <div class="fill"></div>
                <div class="text">challenge</div>
            </a>
        </div>
    </div>
</div>
