div.backgroud {
    position: relative;
    top:0;
    left:0;
    height: 100vh;
    width:100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../../assets/dashboard/background.svg');
}

div.dashboardContainer {
    position: relative;
    top: 0;
    left:0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(200,200,200, 0.25);
}

div.dashboardContainer div {
    position: relative;
    width: 100vw;
    top:0;
    left:0;
    padding: 0;
    padding-left: 2vw;
    padding-right: 2vw;
    box-sizing: border-box;
}
div.dashboardContainer div.header {
    height:12vh;
}
div.dashboardContainer div.main {
    display: flex;
    height: 88vh;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2vw;
}

div.main div {
    display: flex;
    position: relative;
    height: 100%;
    top:0;
    left:0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
}
div.main div.side_left {
    width: 20vw;
    align-items: flex-start;
}
div.main div.side_right {
    width: 20vw;
    align-items: flex-end;
}

div.main div.center {
    width: 58vw;
}

