/* TUTORIAL */
div.tutorialFullBox {
    display: none;
    position: absolute;
    height: 100%;
    width:100%;
    top:0;
    left:0;
    box-sizing: border-box;
    padding: 2vw;
    background-color: rgba(200,200,200, 0.15);
}
div.tutorialBox {
    position: relative;
    height: 100%;
    width:100%;
    top:0;
    left:0;
    box-sizing: border-box;
    padding: 2vw;
    background-color: rgba(200,200,200, 0.15);
}

app-tutorial {
    display: block;
    width: 100%;
    height: 100%;
}
/* END TUTORIAL */


div.defaultBox {
    height: 50vh;
}


div.defaultBox div.dashboard {
    display: flex;
    position: relative;
    top: 0vh;
    left: 0;
    height: 45vh;
    width: 100%;
    
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


div.defaultBox div.dashboard div.line {
    position: relative;
    top:0;
    left:0;
    height: 0.1vh;
    width: 8vw;
    box-sizing: border-box;
    padding:0;
    margin:0;
    border:0;

    background-color: rgba(0, 197, 194, 0.25);
}

div.defaultBox div.dashboard a.element {
    position: relative;
    display: flex;
    height: 25vh;
    width: 21vh;
    top:0;
    left:0;

    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-duration: 200ms;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-name: elementLeave;

    padding:0;
    text-decoration: none;
}

div.defaultBox div.dashboard a.element:hover {
    animation-name: elementHover;
    cursor: pointer;
}

@keyframes elementHover {
    0% {
        height: 25vh;
        width: 21vh;
    }
    100% {
        height: 34vh;
        width: 30vh;
    }
}
@keyframes elementLeave {
    0% {
        height: 34vh;
        width: 30vh;
    }
    100% {
        height: 25vh;
        width: 21vh;
    }
}

div.defaultBox div.dashboard a.element div.disco {
    position: relative;
    height: calc(100% - 4vh);
    width: 100%;
    top:0;
    left:0;
    padding:0;
}

div.defaultBox div.dashboard a.element div.disco div {
    position: absolute;

    background-position: center;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: contain;

    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: spin2;

    padding:0;
}

div.defaultBox div.dashboard a.element div.disco div.disco1{
    background-image: url("src/assets/login/center/1.svg");
    height: 20%;
    width: 20%;
    left: 40%;
    top:40%;
    animation-duration: 30s;
    animation-direction: normal;
}
div.defaultBox div.dashboard a.element div.disco div.disco2{
    background-image: url("src/assets/login/center/2.svg");
    height: 42%;
    width: 42%;
    top: 29%;
    left:29%;
    animation-duration: 40s;
    animation-direction: reverse;
  }
  div.defaultBox div.dashboard a.element div.disco div.disco3{
    background-image: url("src/assets/login/center/3.svg");
    animation-duration: 80s;
    animation-direction: normal;
    
    height: 64%;
    width: 64%;
    top: 18%;
    left: 18%;
  }

  div.defaultBox div.dashboard a.element div.disco div.disco4{
    background-image: url("src/assets/login/center/4.svg");
    animation-duration: 40s;
    animation-direction: reverse;
    height: 86%;
    width: 86%;
    top: 7%;
    left:7%;
}


  @-moz-keyframes spin2 { 100% { -moz-transform: rotate(-360deg); } }
  @-webkit-keyframes spin2 { 100% { -webkit-transform: rotate(-360deg); } }
  @keyframes spin2 { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }
  
  
div.defaultBox div.dashboard a.element div.text {
    position: relative;
    height: 4vh;
    width: 100%;
    display: flex;
    top:0;
    left:0;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 2.5vh;
    color: rgb(220, 220, 220);
}

/* END DaSHBOARD */
div.description {
    position: relative;
    display: flex;
    height: calc(100% - 60vh);
    width: auto;
    top:5vh;
    left:0;
    
    color: rgb(220, 220, 220);
    font-size: 3vh;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    background-color: rgba(0, 197, 194, 0.08);
    border-radius: 1.9vw;
    border: 0.2vh solid rgba(0, 197, 194, 0.7);
    padding-left: 2vw;
    padding-right: 2vw;
}



.side_left {
    width: 100vw;
    height: 10vh;
}
