/* LOGOUT */
div.logoutBox {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top:0;
    left:0;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(40,40,40, 0.9);
    z-index: 10000;
}

div.logoutBox div.message {
    display: flex;
    position: relative;
    top:0;
    left:0;
    height: 40vh;
    width: 50vw;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding:2vw;
    background-color: rgba(233, 155, 50, 0.22);
    border-radius: 1.3vw;
    border: 0.2vh solid rgba(233, 155, 50, 0.7);
}

div.logoutBox div.message * {
    display: flex;
    position: relative;
    top:0;
    left:0;
    min-height: 5vh;
    width: 100%;

    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.message span.text {
    height: 20vh;
    color: rgb(220, 220, 220);
    font-size: 5vh;
}
div.message div.controls {
    height: 10vh;
}
div.controls a.button {
    margin-right: 2vw;
    margin-left: 2vw;
    padding-right: 4vw;
    padding-left: 4vw;
    width: auto!important;
    box-sizing: content-box;
    border: 0.1vh solid rgba(233, 155, 50, 0.5);
    background-color: rgba(233, 155, 50, 0.08);
}
div.controls a.button:hover {
    background-color: rgba(233, 155, 50, 0.18);
    border: 0.1vh solid rgba(233, 155, 50, 0.7);
}

/* END LOGOUT */

/* TUTORIAL */
div.tutorialFullBox {
    display: none;
    position: absolute;
    height: 100%;
    width:100%;
    top:0;
    left:0;
    box-sizing: border-box;
    padding: 2vw;
    background-color: rgba(200,200,200, 0.15);
}
div.tutorialBox {
    position: relative;
    height: 100%;
    width:100%;
    top:0;
    left:0;
    box-sizing: border-box;
    padding: 2vw;
    background-color: rgba(200,200,200, 0.15);
}

app-tutorial {
    display: block;
    width: 100%;
    height: 100%;
}
/* END TUTORIAL */

div.backgroud {
    position: relative;
    top:0;
    left:0;
    height: 100vh;
    width:100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../../assets/dashboard/background.svg');
}

div.dashboardContainer {
    position: relative;
    top: 0;
    left:0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(200,200,200, 0.15);
}

div.dashboardContainer div {
    position: relative;
    width: 100vw;
    top:0;
    left:0;
    padding: 0;
    padding-left: 2vw;
    padding-right: 2vw;
    box-sizing: border-box;
}
div.dashboardContainer div.header {
    height:12vh;
}
div.dashboardContainer div.main {
    display: flex;
    height: 88vh;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2vw;
}

div.main div {
    display: flex;
    position: relative;
    height: 100%;
    top:0;
    left:0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}
div.main div.side_left {
    width: 20vw;
    align-items: flex-start;
}
div.main div.side_right {
    width: 20vw;
    align-items: flex-end;
}

div.main div.center {
    width: 56vw;
}
