div.defaultBox {
    position:absolute;
    height: 100%;
    width:100%;
    top:0;
    left:0;
}
div.testContainer {
    position: relative;
    display: flex;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding:2vw;
    background-color: rgba(0, 197, 194, 0.08);
    border-radius: 1.9vw;
    border: 0.2vh solid rgba(0, 197, 194, 0.7);
}
div.testFilter {
    position: relative;
    height: 15vh;
    width: 100%;
    display: flex;
    top:0;
    left:0;

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 0.1vh solid rgba(0, 197, 194, 0.7);
}
div.testFilter div {
    display: flex;
    position: relative;
    top:0;
    left:0;
    height: 50%;
    width: 100%;
    padding:0;
    box-sizing: border-box;

    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.testFilter div a.button {
    height: 80%;
    width: auto;
    box-sizing: border-box;
}

div.testFilter div a.active {
    background-color: rgba(0, 198, 50, 0.2);
    border: 0.1vh solid rgba(0, 198, 50, 0.5);
}



/* BODY */
div.testMain {
    position: relative;
    top: 0;
    left:0;
    height: calc(100% - 15vh);
    width: 100%;
    box-sizing: border-box;
    padding: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    overflow: auto;
}

div.testMain div.testElement {
    display: flex;
    position: relative;
    top:0;
    left: 0;
    height: auto;
    width: 45%;

    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: rgba(0, 197, 194, 0.1);
    border: 0.1vh solid rgba(0, 197, 194, 0.5);
    padding: 2vh;
    margin: 2vh;
}
div.testMain div.testElement div.row {
    display: flex;
    position: relative;
    top:0;
    left:0;
    min-height: 5vh;
    height: auto;
    width: 100%;

    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}
div.row p {
    display: flex;
    height: 5vh;
    flex-direction: row;
    align-items: center;
    font-size: 2.5vh;
}
div.row p.header {
    width: 33%;
    color: rgba(220, 220, 220, 0.7);
    justify-content: flex-start;
}
div.row p.dataText {
    width: 67%;
    color: rgb(220, 220, 220);
    justify-content: flex-end;
}
div.row p.fullHeader {
    color: rgba(220, 220, 220, 0.7);
    width: 100%;
}
div.row p.dataAreaText {
    width: 100%;
    height: auto;
    background-color: rgba(40,40,40, 0.2);
    color: rgb(220, 220, 220);
    padding: 1vh;
}
