form{
    margin-top:270px;
    width: 55%;
    padding: 10px;
    border-radius:50%;
}

button{
    height: 46px;
    width: 46px;
    border-radius: 50%;
    display: flex;
    box-sizing: content-box;
    padding: 10px;
    border-style: solid;
    border-color: rgb(0, 204, 204);
    align-items: center;
    justify-content: center;
    margin-right: 2vh;
    background-color: transparent;
}/* You can add global styles to this file, and also import other style files */

button:hover {
    background-color: transparent;
}

div.inlineButtons {
    display: flex;
    flex-direction: row;
    background-color: transparent;
}

input {
    display: block;
    box-sizing: content-box;
    padding: 1vh;
}
/*input::placeholder {
}*/

.container-fluid{
    background-image: url("src/assets/1234.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.login{
border: none;
border-radius: 2px;
padding-top: 10px;
padding-right: auto;
padding-bottom: 10px;
padding-left: auto;
}

p{
font-size: 14px;
}
.lines{
    position: relative;
    right: 250px;   
    bottom:10px;
    border-color: none;
    width: 220px;
    padding: 8px;
}
.inlineButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center ;
    position: relative;
    right:249px;
}
input.form-control{
    display: block;
    background-color: rgb(0, 204, 204);
    width: 200px;
    height:45px;
    border-radius: 25px;
    border: none;
    box-sizing: border-box;
    

}

.centratologin {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

div.centratologin * {
    flex-grow: 0;
    flex-shrink: 0;
}