<div class="defaultBox">
    <div class="profileContainer">
        <span class="username">{{user.username}}</span>
        <span class="totalChallenges">{{countTestUser}}/{{testCount}} Challenges</span>
        <div class="level">
            <span class="l1">Lv. 1</span>
            <span class="text">{{countTestUser_l1}}/{{testCount_l1}}</span>
        </div>
        <div class="level">
            <span class="l2">Lv. 2</span>
            <span class="text">{{countTestUser_l2}}/{{testCount_l2}}</span>
        </div>
        <div class="level">
            <span class="l3">Lv. 3</span>
            <span class="text">{{countTestUser_l3}}/{{testCount_l3}}</span>
        </div>
        <div class="spacer"></div>
        

        <a class="button" (click)="myTestView($event)">I Miei Test</a>
        <a class="button" (click)="mapView($event)">Game Menu</a>
    </div>    
</div>
