
<div class="defaultBox">
    <div class="mapContainer">
        <div class="mapNavigator">
            <div>
                <div class="back" (click)="goUp()"></div>
                <div class="elements" id="mapElements">
                    <div *ngFor="let elem of elements">
                        <a class="button" [attr.elementenabled]="elem.enabled" (click)="goDown(elem)" (mouseenter)="overSpecific(elem)" (mouseleave)="leaveSpecific()">{{elem.testo}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="map continente" id="contrainingMap"></div>
    </div>
</div>