div.defaultBox {
    position:absolute;
    height: 100%;
    width:100%;
    top:0;
    left:0;
}
div.mapContainer {
    position: relative;
    display: flex;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding:2vw;
    background-color: rgba(0, 197, 194, 0.08);
    border-radius: 1.9vw;
    border: 0.2vh solid rgba(0, 197, 194, 0.7);
}
div.mapNavigator {
    position: relative;
    height: 10vh;
    width: 100%;
    display: flex;
    top:0;
    left:0;

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 0.1vh solid rgba(0, 197, 194, 0.7);
}
div.mapNavigator div {
    display: flex;
    position: relative;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    padding:0;
    box-sizing: border-box;

    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


div.mapNavigator div div.back {
    width: 9vh;
    height: 9vh;
    padding: 3vh;
    background-origin: content-box;
    background-attachment: local;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../../assets/controls/backArrow.svg');

}
div.mapNavigator div div.back:hover {
    cursor: pointer;
    background-color: rgba(220,220,220, 0.07);
}

div.mapNavigator div div.elements {
    display: flex;
    position: relative;
    height: 100%;
    width: calc(100% - 9vh);
    top:0;
    left:0;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
div.mapNavigator div div.elements div {
    position: relative;
    top:0;
    left:0;
    height: 9vh;
    width: 19%;
    box-sizing: border-box;
    padding:0;
    margin:0;
    border:0;
}
div.mapNavigator div div.elements div a.button {
    height: 100%;
    width: 100%;
    padding:0;
    margin:0;
    box-sizing: border-box;
}



div.map {
    position: relative;
    top: 0;
    left:0;
    height: calc(100% - 10vh);
    width: 100%;
    box-sizing: border-box;
    padding: 5vh;
    
    font-size: 0;
    background-origin: content-box;
    background-position: center;
    background-size: contain;
    background-attachment: local;
    background-repeat: no-repeat;
}

/* WORLD, blank + colors */
.continente {
    background-image: url('../../../assets/map/continente.svg');
}
.continente_Africa {
    background-image: url('../../../assets/map/africa.svg');
}
.continente_Americhe {
    background-image: url('../../../assets/map/america.svg');
}
.continente_Asia {
    background-image: url('../../../assets/map/asia.svg');
}
.continente_Europa {
    background-image: url('../../../assets/map/europa.svg');
}
.continente_Oceania {
    background-image: url('../../../assets/map/oceania.svg');
}

/* AFRICA, blank + colors */
.Africa {
    background-image: url('../../../assets/map/continente/africa/africa_blank.svg');
}
.Africa_Africa_Nord {
    background-image: url('../../../assets/map/continente/africa/africa_nord.svg');
}
.Africa_Africa_Sud {
    background-image: url('../../../assets/map/continente/africa/africa_sud.svg');
}
.Africa_Africa_Est {
    background-image: url('../../../assets/map/continente/africa/africa_est.svg');
}
.Africa_Africa_Nord-Ovest {
    background-image: url('../../../assets/map/continente/africa/africa_no.svg');
}
.Africa_Africa_Sud-Ovest {
    background-image: url('../../../assets/map/continente/africa/africa_so.svg');
}

/* AFRICA PIECES, blank */
.Africa_Nord {
    background-image: url('../../../assets/map/continente/africa/stati/nord/africa_nord_blank.svg');
}
.Africa_Sud {
    background-image: url('../../../assets/map/continente/africa/stati/sud/africa_sud_blank.svg');
}
.Africa_Est {
    background-image: url('../../../assets/map/continente/africa/stati/est/africa_est_blank.svg');
}
.Africa_Nord-Ovest {
    background-image: url('../../../assets/map/continente/africa/stati/no/africa_no_blank.svg');
}
.Africa_Sud-Ovest {
    background-image: url('../../../assets/map/continente/africa/stati/so/africa_so_blank.svg');
}

/* ASIA, blank + color */
.Asia {
    background-image: url('../../../assets/map/continente/asia/asia_blank.svg');
}
.Asia_Asia_Nord {
    background-image: url('../../../assets/map/continente/asia/asia_nord.svg');
}
.Asia_Asia_Sud {
    background-image: url('../../../assets/map/continente/asia/asia_sud.svg');
}
.Asia_Asia_Ovest {
    background-image: url('../../../assets/map/continente/asia/asia_ovest.svg');
}
.Asia_Asia_Est {
    background-image: url('../../../assets/map/continente/asia/asia_est.svg');
}

/* ASIA PIECES, blank */
.Asia_Nord {
    background-image: url('../../../assets/map/continente/asia/stati/nord/asia_nord_blank.svg');
}
.Asia_Sud {
    background-image: url('../../../assets/map/continente/asia/stati/sud/asia_sud_blank.svg');
}
.Asia_Ovest {
    background-image: url('../../../assets/map/continente/asia/stati/ovest/asia_ovest_blank.svg');
}
.Asia_Est {
    background-image: url('../../../assets/map/continente/asia/stati/est/asia_est_blank.svg');
}

/* AMERICA, blank + color */
.Americhe {
    background-image: url('../../../assets/map/continente/america/america_blank.svg');
}
.Americhe_America_Nord {
    background-image: url('../../../assets/map/continente/america/america_nord.svg');
}
.Americhe_America_Sud {
    background-image: url('../../../assets/map/continente/america/america_sud.svg');
}

/* America pieces, blank */
.America_Nord {
    background-image: url('../../../assets/map/continente/america/stati/nord/america_nord_blank.svg');
}
.America_Sud {
    background-image: url('../../../assets/map/continente/america/stati/sud/america_sud_blank.svg');
}

/* EUROPA, blank + color */
.Europa {
    background-image: url('../../../assets/map/continente/europa/europa_blank.svg');
}
.Europa_Europa_Nord {
    background-image: url('../../../assets/map/continente/europa/europa_nord.svg');
}
.Europa_Europa_Sud {
    background-image: url('../../../assets/map/continente/europa/europa_sud.svg');
}
.Europa_Europa_Est {
    background-image: url('../../../assets/map/continente/europa/europa_est.svg');
}
.Europa_Europa_Ovest {
    background-image: url('../../../assets/map/continente/europa/europa_ovest.svg');
}
.Europa_Europa_Centro {
    background-image: url('../../../assets/map/continente/europa/europa_centro.svg');
}

/* EUROPA PIECES, blank */
.Europa_Nord {
    background-image: url('../../../assets/map/continente/europa/stati/nord/europa_nord_blank.svg');
}
.Europa_Sud {
    background-image: url('../../../assets/map/continente/europa/stati/sud/europa_sud_blank.svg');
}
.Europa_Centro {
    background-image: url('../../../assets/map/continente/europa/stati/centro/europa_centro_blank.svg');
}
.Europa_Ovest {
    background-image: url('../../../assets/map/continente/europa/stati/ovest/europa_ovest_blank.svg');
}
.Europa_Est {
    background-image: url('../../../assets/map/continente/europa/stati/est/europa_est_blank.svg');
}

/* OCEANIA, blank + color */
.Oceania {
    background-image: url('../../../assets/map/continente/oceania/oceania_blank.svg');
}
.Oceania_Oceania {
    background-image: url('../../../assets/map/continente/oceania/oceania_oceania.svg');
}

