<div class="defaultBox">
    <div class="userTestContainer">
        <div class="header">
            <p class="title">Titolo</p>
            <a class="button" id="testControlButton" (click)="buttonClick()">Next</a>
        </div>
        <div class="testRow">
            <div id="testSlider" class="slider animable">
                <div starter class="starter"></div>
                <div tester class="tester"></div>
                <div answer class="answer"></div>
                <div score class="score"></div>
            </div>
        </div>
    </div>
</div>