<div class="defaultBox">
    <div class="title">
        <div class="angolo_sinistro"></div>
        <div class="content">
            {{argomento}}
        </div>
        <div class="angolo_destro"></div>
    </div>
    <div class="userTestContainer">
        <div class="header displayNone" id="headerRow">
            <a class="button" id="testControlButton" (click)="buttonClick()">Next</a>
        </div>
        <div class="testRow">
            <div id="testSlider" class="slider animable">
                <div starter class="starter">
                    <a class="button roundButton" (click)="startButtonClick()">START</a>
                </div>
                <div tester class="tester">
                    <div class="question">
                        <span class="questionTitle">{{domanda.testo}}</span>
                        <div class="radioContainer">
                            <label *ngFor="let r of domanda.risposte; let i = index">{{r.testo}}
                                <input type="radio" name="risposta" (change)="changeRisposta(i)" />
                                <span class="radio"></span>
                                <span class="round"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div answer class="answer">
                    <div class="answerBox">
                        {{domanda.spiegazione}}
                    </div>
                </div>
                <div score class="score">
                    Qui verrà mostrato il punteggio in base alla correttezza delle domande
                </div>
            </div>
        </div>
    </div>
</div>