.container-background{
    background-image: url("src/assets/login/center/backgroundcolor.svg");
    background-position: center;
    overflow: visible;
}
.map-container{
    background-image: url("src/assets/login/center/map backgroud.svg");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.matrix-container{
    position: fixed;
    background-image: url("src/assets/login/center/matrixeffectbckrnd.svg");
    background-position: center;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    opacity: 0.1;
}

.cerchio1{
    background-image: url("src/assets/login/center/1.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25%;
    height: 100vh;
    width: 100vw;
    position: fixed;
    -webkit-animation:spin2 30s linear infinite;
    -moz-animation:spin2 30s linear infinite;
    animation:spin2 30s linear infinite;
    top:0;
    left:0;
}



.cerchio2{
    background-image: url("src/assets/login/center/2.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 29.5%;
    height: 100vh;
    width: 100vw;
    position: fixed;
    -webkit-animation:spin2 40s linear infinite;
    -moz-animation:spin2 40s linear infinite;
    animation:spin2 40s linear infinite;
    animation-direction: reverse;
    top:0;
    left:0;
}
@-moz-keyframes spin2 { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin2 { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin2 { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }


.cerchio3{
    background-image: url("src/assets/login/center/3.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 37%;
    height: 100vh;
    width: 100vw;
    position: fixed;
    -webkit-animation:spin2 80s linear infinite;
    -moz-animation:spin2 80s linear infinite;
    animation:spin2 80s linear infinite;
    top:0;
    left:0;
}



.cerchio4{
    background-image: url("src/assets/login/center/4.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40.5%;
    height: 100vh;
    width: 100vw;
    position: fixed;
    -webkit-animation:spin2 180s linear infinite;
    -moz-animation:spin2 180s linear infinite;
    animation:spin2 180s linear infinite;
    animation-direction: reverse;
    top:0;
    left:0;
}

.disk{
    height: 100vh;
    width: 100vw;
    position: fixed;
}

@keyframes fadeOut {
    0% {opacity : 1;}
    100% { opacity:0;}
}

@keyframes fadeIn {
    0% {opacity : 0.1;}
    100% { opacity:0.25;}
}

.cerchiologin{
    background-image: url("src/assets/login/center/cerchio blu.svg");
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-size: 25.5%;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.centratologin{
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 0;
}
.lines{
    padding: 1vh;
    margin: 0.7vh;
}
.form-control{
    padding: 2vh;
    background: transparent;
    border-radius: 10px;
    border-width: 0.25vh;
    border-style: solid;
    border-color: rgb(6, 240, 228);
    width: 14vw;
    height: 6vh;
    color: rgb(6, 240, 228);
}
.logo{
    background-image: url("src/assets/login/center/logo ConTraining1.svg");
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-size: 45.7%;
    position: absolute;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top:0;
    left:0;
}
.fadeOutAnimation {
    animation-name: fadeOut;
    animation-direction: normal;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
.fadeInAnimation {
    animation-name: fadeIn;
    animation-direction: normal;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
.speedUp {
    animation-duration: 10s;
}


::placeholder {
    color: rgb(6, 240, 228);
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: rgb(6, 240, 228);
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
   color: rgb(6, 240, 228);


  }

  .login #signup{
    position: absolute;
      color: rgb(6, 240, 228);
      right: 24%;
      top: 68%;
  }
