/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Exo+2:300&display');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
    overflow: hidden;
}

* {
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0;
    margin: 0;
    border:0;
    box-sizing: border-box;
    font-family: 'Exo 2', 'Agency FB',sans-serif;
}

div.background {
    position: fixed;
    top:0;
    left:0;
    height: 100vh;
    width:100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%, contain, cover;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%, rgba(0, 161, 159, 0.89) 30%, rgba(0, 0, 0, 0.62) 100%), url('./assets/dashboard/mondo.svg'), url('./assets/login/center/backgroundcolor.svg');
}

a.button {
    display: flex;
    height: auto;
    width: auto;
    box-sizing: content-box;
    padding: 1vh 2vw;
    border-radius: 1vh;

    background-color: rgba(220, 220, 200, 0.05);
    border: 0.1vh solid rgba(0, 197, 194, 0.3);

    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(220, 220, 220);
    border-radius: 6px;
}

a.button:hover {
    cursor: pointer;
    background-color: rgba(0, 197, 194, 0.05);

}

.displayNone {
    display: none!important;
}
.displayFlex {
    display: flex!important;
}

/* DEFAULT BOXING */
div.defaultBox {
    display: flex;
    position: relative;
    top:0;
    left:0;
    min-height: 5vh;
    width: 100%;

    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: rgba(40, 40, 40, 0.7);
    border-radius: 5vh;

    padding:0;
    margin:0;
    border:0;
    box-sizing: border-box;
    padding-left: 5vh;
    padding-right: 5vh;
}
div.defaultBox div.title {
    position: relative;
    height: 5vh;
    width: 35vh;
    top: 0;
    left:0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:0;
}
div.defaultBox div.title div {
    position: relative;
    height: 5vh;
    top:0;
    left:0;
}
div.defaultBox div.title div.angolo_sinistro {
    width: 5vh;
    background-image: linear-gradient(45deg, transparent 0%, transparent 49.99%, rgb(0, 197, 194) 50%);
}
div.defaultBox div.title div.angolo_destro {
    width: 5vh;
    background-image: linear-gradient(-45deg, transparent 0%, transparent 49.99%, rgb(0, 197, 194) 50%);
}
div.defaultBox div.title div.content {
    width: 25vh;
    padding:0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    background-color: rgb(0, 197, 194);
    color: rgb(40,40,40);
    text-transform: uppercase;
}

/* DEFAULT BOXING */