<table class="orangeTable">
  <tr class="searchRow">
      <td>
          <input placeholder="nome" [(ngModel)]="testToSearch.nome">
        </td>
        <td>
          <input placeholder="livello" [(ngModel)]="testToSearch.livello">
        </td>
        <td>
          <input placeholder="descrizione" [(ngModel)]="testToSearch.descrizione">
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
            </td>
        <td>
            <button class="btn btn-search" (click)="search()"><i class="fas fa-search"></i>Search</button>
        </td>
        <td>
            <button (click)="clearSearch()">Clear</button>
        </td>
  </tr>
  <tr>
    <th>
      Nome
    </th>
    <th>
          Livello
        </th>
    <th>
     Descrizione
    </th>
    <th>
      Categoria
    </th>
    <th>
    </th>
    <th>
    </th>
  </tr>
  <tr>
    <td>
      <input placeholder="insert nome" [(ngModel)]="testToInsert.nome">
    </td>
    <td>
          <input placeholder="insert livello"  type="number" [(ngModel)]="testToInsert.livello">
    </td>
    <td>
      <input placeholder="insert descrizione"  [(ngModel)]="testToInsert.descrizione">
</td>
    <td>
      <input placeholder="insert categoria" [(ngModel)]="testToInsert.categoria">
    </td>
    <td>
      <button (click)="insert(testToInsert)">Insert</button>
    </td>
    <td>
      <button (click)="clear()">Clear</button>
    </td>
  </tr>
  <tr *ngFor="let t of tests">
    <td>
      <input class="inputTable" [(ngModel)]="t.nome">
    </td>
    <td>
      <input class="inputTable" type="number" [(ngModel)]="t.livello">
    </td>
    <td>
      <input class="inputTable"  [(ngModel)]="t.descrizione">
    </td>
    <td>
      <input class="inputTable"  [(ngModel)]="t.categoria">
    </td>
    <td>
      <button (click)="update(t)">Save</button>
    </td>
    <td>
      <button (click)="delete(t)">Delete</button>
    </td>
  </tr>
</table>
