body {
  background-image: url('/assets/dashboard/background.svg');
  background-size: cover;
}

h1{
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    color: #75a8ea;
  }

  p{
    margin-top: 10%;
    text-align: center;
    font-size: 16px;
    color: #1b1a1a;
    height: inherit;
    width: 100%;
    background-color: #1e282d !important;
  }

  .col-md-4{
    width: 50%;
    margin: 0 auto;
  }

  i:hover{
    background-color: #75a8ea;

  }

  .registerform{
    width: 30%;
    min-width: 300px;
    font-size: 15px;
    border-radius: 7px;
    background-color:white ;
    padding: 10px;
    margin: 7px;
    -webkit-box-shadow: 4px 4px 6px 1px rgba(0,0,0,0.4) ;
    box-shadow: 4px 4px 6px 1px rgba(0,0,0,0.4) ;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    z-index:1;
    -webkit-box-shadow: 5px 5px 10px 3px  #75a8ea;
    box-shadow: 5px 5px 10px 3px  #75a8ea;
}

.registerform label {
	float: center;
	clear: both;
	width: 10em;
	text-align: center;
}

  input {
    width: 80%;
    background-color: #ffff;
    color: #000000;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    float:right;
  }

  input:hover {
    background-color:  #75a8ea;
  }
  input:-moz-read-only {
    background-color: #ccc;
  }
  input:read-only{
    background-color: #ccc;
  }

.col-25 {
	display: inline-block;
	width: 25%;
  margin: auto;
  margin-left: 3%;
  vertical-align:middle;
}

.col-75 {
	display: inline-block;
  width: 69%;
  margin: auto;
  margin-right: 3%;
  vertical-align:middle;
}

.backlink {
  margin: auto;
  margin-top: 1%;
  color:  #75a8ea;
}

.alert {
  font-size: 12px;
  text-align: center;
  padding: 1px;
  margin: auto;
}

.rowalert {
  font-size: 12px;
  text-align: center;
  padding: 1px;
  margin-top: 5px;
}

button {
  -webkit-transition-duration: 0.1s; /* Safari */
  transition-duration: 0.1s;
  background-color: #75a8ea;
  border: none;
  color: white;
  padding: 1% 1%;
  text-align: center;
  text-decoration: none;
  margin: auto;
  margin-top: 1%;
  cursor: pointer;
  border-radius: 7px;
  width: 8em;
  height: 3em;
}

button:hover {
  background-color: #ccc;
  color: rgb(31, 29, 29);
}

