<div class="headerContainer">
    <div class="part">
        <div class="img profileImage"></div>
        <div class="content name">Welcome {{user.nome}}</div>
        <a class="button" (click)="logoutEvent($event)">Logout</a>
    </div>
    <div class="logo"></div>
    <div class="part">
        <div class="content visualSettings">
            <div class="img globo"></div>
            <div class="img mondo"></div>
        </div>
    </div>
</div>
<div class="separatorContainer">
    <div class="bar left"></div>
    <div class="spacer"></div>
    <div class="bar right"></div>
</div>
