div.headerContainer {
    display: flex;
    position: relative;
    height: 9vh;
    width: 100%;
    top:0;
    left:0;

    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
}
div.headerContainer div.part {
    display: flex;
    position: relative;
    height: 5vh;
    width: calc((100% - 15vh) / 2);
    top:0;
    left:0;

    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
}
div.headerContainer div.logo {
    position: relative;
    top:0;
    left:0;
    height: 9vh;
    width: 15vh;

    background-attachment: local;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 9vh;
    background-image: url('../../../assets/dashboard/logo.svg');
}
div.part div.img {
    position: relative;
    top:0;
    left: 0;
    height: 100%;

    background-attachment: local;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 5vh;
}
div.part div.profileImage {
    width: 20%;
    background-image: url('../../../assets/dashboard/profile.svg');
}
div.part div.mondo {
    width: 8vh;
    background-image: url('../../../assets/dashboard/mondo.svg');
}
div.part div.globo {
    width: 8vh;
    background-image: url('../../../assets/dashboard/globo.svg');
}
div.part div.content {
    display: flex;
    position: relative;
    top:0;
    left:0;
    height: 100%;

    align-items: center;
    font-size: 3vh;
    color: rgb(220, 220, 220);
}
div.part div.name {
    justify-content: flex-start;
    width: auto;
    margin-right: 2vw;
}
div.part div.visualSettings {
    justify-content: flex-end;
    width: 92%;
}

div.separatorContainer {
    display: flex;
    position: relative;
    height: 3vh;
    width: 100%;
    top:0;
    left:0;

    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
div.separatorContainer div.bar {
    position: relative;
    height: 100%;
    width: calc((100% - 15vh) / 2);
    top:0;
    left:0;

    background-size: contain;
    background-attachment: local;
    background-position: center;
    background-repeat: no-repeat;
}

div.separatorContainer div.left {
    background-image: url('../../../assets/dashboard/bar.svg');
    transform: rotate(180deg);
}

div.separatorContainer div.right {
    background-image: url('../../../assets/dashboard/bar.svg');
}

div.separatorContainer div.spacer {
    position: relative;
    top:0;
    left:0;
    height: 10vh;
    width: 15vh;
}




